<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:aqua">Header Portion</div>

        @RenderBody()

    <div style="background-color:aqua">Fotter Portion</div>

</body>
</html>
