@{
    ViewData["Title"] = "Home Page";
    // var students = ViewData["StudentData"] as List<StudentModel>;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <table>
    <tr>
        <td>Student ID</td>
        <td>Student Name</td>
        <td>Student Gender</td>
        <td>Student Semester</td>
    </tr>

    @foreach(var std in students)
    {
        <tr>
            <td>@std.STDID</td>
            <td>@std.Name</td>
            <td>@std.Gender</td>
            <td>@std.Semester</td>
        </tr>
    }
</table>
 *@